<div id="skill" data-aos="fade-up">
    <h2 class="m-5">{{ 'SKILLSET' | translate}}</h2>
    <div class="skill-tree">
        <div class="skill-set">
            <div class="skill">
                <img src="../../../assets/images/angular-svgrepo-com.svg">
                Angular
            </div>
            <div class="skill">
                <img src="../../../assets/images/scss2-svgrepo-com.svg">
                SCSS
            </div>
            <div class="skill">
                <img src="../../../assets/images/css-3-svgrepo-com.svg">
                CSS
            </div>
            <div class="skill">
                <img src="../../../assets/images/html-5-svgrepo-com.svg">
                HTML
            </div>
            <div class="skill">
                <img src="../../../assets/images/typescript-official-svgrepo-com.svg">
                TypeScript
            </div>
            <div class="skill">
                <img src="../../../assets/images/javascript-svgrepo-com.svg">
                JavaScript
            </div>
            <div class="skill">
                <img src="../../../assets/images/material-design-svgrepo-com.svg">
                Material Design
            </div>
            <div class="skill">
                <img src="../../../assets/images/bootstrap-svgrepo-com.svg">
                Bootstrap
            </div>
            <div class="skill">
                <img src="../../../assets/images/git-svgrepo-com.svg">
                GIT
            </div>
            <div class="skill">
                <img src="../../../assets/images/github-color-svgrepo-com.svg">
                GitHub
            </div>
            <div class="skill">
                <img src="../../../assets/images/firebase-svgrepo-com.svg">
                Firebase
            </div>
            <div class="skill">
                <img src="../../../assets/images/postman-icon-svgrepo-com.svg">
                Postman
            </div>
            <div class="skill">
                <img src="../../../assets/images/brand-scrum-svgrepo-com.svg">
                Scrum
            </div>
            <div class="skill">
                <img src="../../../assets/images/django.png">
                Django
            </div>
        </div>
    </div>
</div>