@import '../../../assets/scss/base.scss';

.navbar {
    background-color: $bg-color;
    .nav-link, .navbar-brand {
        color: white;
        &:hover {
            color: rgb(133, 76, 230);
        }
    }
}

.fixed-top {
    z-index: 99 !important;
}

.active {
    color: rgb(133, 76, 230) !important;
}

.lang {
    img {
        width: 24px;
        height: 24px;
        margin-right: 8px;
        cursor: pointer;
        filter: brightness(0.8);
        &:hover {
            transform: translate(2px, -2px);
            filter: brightness(1);
        }
    }
}

.navbar-brand {
    padding: 0;
    
    img {
        width: 80px;
    }
}