<div class="contact-section">
  <h2>{{ 'CONTACT' | translate}}</h2>

  <p>{{ 'CONTACT_SUBTITLE' | translate}}</p>

  <div class="form-container" data-aos="fade-up-right" data-aos-delay="300" data-aos-duration="1000">
    <div class="form-content">
      <h3>E-Mail:</h3>
      <a href="mailto:mail@kevinwyatt.de" class="email">Mail@KevinWyatt.de</a>
      <h3>{{ 'PHONE' | translate}}</h3>
      <a href="tel:+4917676861479" class="phone">+49 176 76861479</a>
    </div>
    <!-- <form (ngSubmit)="onSubmit()" [formGroup]="emailForm">
      <h3>{{ 'FORM_HEAD' | translate}}</h3>
      <input type="email" placeholder="{{ 'EMAIL' | translate}}" formControlName="email" [class.is-valid]="
      emailForm.controls['email'].touched && emailForm.controls['email'].valid
    "
    [class.is-invalid]="
    emailForm.controls['email'].touched && !emailForm.controls['email'].valid">
      <div class="text-warning mb-3" *ngIf="emailForm.controls['email'].invalid && emailForm.controls['email'].touched">
        {{ 'EMAIL_REQUIRED' | translate}}
      </div>
      <input type="text" placeholder="{{ 'NAME' | translate}}" formControlName="name" [class.is-valid]="
      emailForm.controls['name'].touched && emailForm.controls['name'].valid
    "
    [class.is-invalid]="
    emailForm.controls['name'].touched && !emailForm.controls['name'].valid">
      <div class="text-warning mb-3" *ngIf="emailForm.controls['name'].invalid && emailForm.controls['name'].touched ">
        {{ 'NAME_REQUIRED' | translate}}
      </div>
      <textarea rows="4" placeholder="{{ 'MESSAGE' | translate}}" formControlName="message"[class.is-valid]="
      emailForm.controls['message'].touched && emailForm.controls['message'].valid
    "
    [class.is-invalid]="
    emailForm.controls['message'].touched && !emailForm.controls['message'].valid"></textarea>
      <div class="text-warning mb-3" *ngIf="emailForm.controls['message'].invalid && emailForm.controls['message'].touched ">
        {{ 'MESSAGE_REQUIRED' | translate}}
      </div>
      <button class="form-btn"><span *ngIf="emailForm.valid">{{ 'SEND_BTN_TWO' | translate}}</span><span *ngIf="!emailForm.valid">{{ 'SEND_BTN_ONE' | translate}}</span></button>
    </form> -->
  </div>
</div>
